services:
  backend:
    build:
      target: prod
    restart: always
    deploy:
      resources:
        limits:
          cpus: "1"
          memory: 1G
    environment:
      - NODE_ENV=production
      # Ensure these match your server's actual URL/IP
      - FRONTEND_URL=http://72.62.161.70
      - CORS_ORIGIN=http://72.62.161.70

  frontend:
    build:
      target: prod
      args:
        VITE_API_ENDPOINT: http://72.62.161.70/api/v1
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
